@import "header";
@import "nav";
@import "section";
@import "footer";

/* Estilos Generales */

$tamanoTipo:50px;

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
 }

 /* COMPUTADORA */

@media screen and (min-width:750px) {
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto; 
        grid-template-areas: "header" "nav" "section" "footer";
        gap: 10px;
     }
  }

/* CELULAR */

@media screen and (min-width:0px) and (max-width:750px) {
    #grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 5% 5% 10% 5% ;
        grid-template-areas: "header" "nav" "section" "footer";
        gap: 10px;
    }
}

#logowsp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
}

.tituloSecciones {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.Registro {
    display: flex;
    justify-content: center;
    padding: 150px;
    font-size: $tamanoTipo / 3;
}


